[user]
	name = #GITNAME
	email = #GITEMAIL
[core]
	editor = vim
[color]
	#ui = true
[alias]
 	alias = config --get-regexp alias
  a = add
	pl = pull
	co = checkout
	b = branch
	ci = commit
	st = status
  br = branch
	tree  =  "!git log --graph --decorate --pretty=format:'%C(yellow)%h %Cred%cr %Cblue(%an)%C(cyan)%d%Creset %s' --abbrev-commit --all"
  lg = log --reverse
  lgg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lh = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --reverse
  logme = log --oneline --reverse --author="stefan"
	d = difftool
	changes = show --stat --oneline
  sstash = stash show
[commit]
	template = #GITMESSAGE
[pager]
  log = true
	branch = false
	alias = false
  show = false
	diff = true
  stash = false
  changes = false
[diff]
	tool = vimdiff
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[color "status"]
	added = green
	changed = red bold
	untracked = magenta bold
[color "diff"]
	added = green
	changed = red bold
	untracked = magenta bold
[color "branch"]
	remote = yellow
[difftool]
	prompt = false
